<div class="signup-wrap forgot-password">
    <div class="header">
        <h3>{text key="mekirim+reset_password"}</h3>
        <p>{text key="mekirim+reset_password_description"}</p>
    </div>
    <div class="signup-form form-wrap forgot-password-form">
        {form name="forgot-password"}
        <div class="input-wrap">
            {input name="email" placeholder="{text key='mekirim+email_address'}"}
        </div>
        <div class="input-wrap">
            {submit  name="submit"}
        </div>
        {/form}
    </div>
</div>

