<div class="signup-wrap forgot-password">
    <div class="header">
        <h3>{text key="mouse+forgot_password"}</h3>
        <p>{text key="mouse+forgot_password_description"}</p>
    </div>
    <div class="signup-form form-wrap forgot-password-form">
        {form name="forgot-password"}
        <div class="input-wrap">
            {input name="email" placeholder="{text key='mouse+email_address'}"}
        </div>
        <div class="input-wrap">
            {submit  name="submit"}
        </div>

        {/form}
    </div>
    <a class="forgot-password-link" href="{url_for_route for='static_sign_in'}">{text key="mouse+sign_in_back"}</a>

</div>

