# ignore all core files

www/.htaccess
www/captcha.php
www/CHANGELOG.txt
www/e500.php
www/error_log
www/index.php
www/INSTALL.txt
www/mario.php
www/ow_version.xml
www/robots.txt
www/UPDATE.txt
.DS_Store


# ignore all folders 
www/*/

# Ignore everything within www/ow_plugins (including root files and folders)
www/ow_plugins/

# Ignore everything within www/ow_themes (including root files and folders)
www/ow_themes/

# Unignore the plugin "mousemingle" within www/ow_plugins
!www/ow_plugins/mousemingle/

# Unignore the theme "mousenight" within www/ow_themes
!www/ow_themes/mousenight/