/* ---- Avatar list styles ---- */

.#{$ow-prefix}avatar_list {
    text-align: center;
}

.#{$ow-prefix}avatar_list a {
    margin-bottom: 0px;
    margin-right: 1px;
}


/* ---- End of the Avatar list styles ---- */