.#{$ow-prefix}row_gutters {
    margin-top: calc(var(--ps-gutter-y) * -1);
    margin-right: calc(var(--ps-gutter-x) * -.5);
    margin-left: calc(var(--ps-gutter-x) * -.5);
    &>.#{$ow-prefix}column,
    &>.#{$ow-prefix}narrow,
    &>.#{$ow-prefix}wide,
    &>.#{$ow-prefix}superwide,
    &>.#{$ow-prefix}supernarrow,
    &>*[class*='ow_item_'],
    &>*[class*='ow_column_'] {
        flex-shrink: 0;
        padding-right: calc(var(--ps-gutter-x) * .5);
        padding-left: calc(var(--ps-gutter-x) * .5);
        margin-top: var(--ps-gutter-y);
        @include browser-compatible(box-sizing, border-box);
    }
}

@include make-base-grids('');