/* ---- Header styles ---- */


.#{$ow-prefix}site_panel {
    box-sizing: border-box;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #{$header-bg-color}; //var(--header-bg);
    z-index: 999;
    .panel_canvas{
        height: var(--c-gc-header-height);
        width: 100%;
        max-width: 1920px;
        box-sizing: border-box;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: var(--font-size);
        background-color: #1E1E1E;

        .#{$ow-prefix}logo {
            background-repeat: no-repeat;
            background-image: var(--logo);
            background-size: 150px 36px;
            background-position: center center;
            width: 447px;
            height: var(--c-gc-header-height);;
            background-color: #{$primary-color};
        
        }
    }
}


// .#{$ow-prefix}site_panel 

.#{$ow-prefix}site_panel .#{$ow-prefix}navigation_wrap{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.ow_navs{
    display: flex;
    margin-right: 200px;
    gap: 20px;

    .register{
        padding: 10px 20px;
        background-color: #{$primary-color};
        color: #{$text-white};
        border-radius: 10px;
        font-weight: 600;
    }
    a.ow_console_item_link{
        padding: 10px 20px !important;
    }
}

.ow_console_navigation{
    // display: none;
}

a.#{$ow-prefix}logo:hover {
    text-decoration: none;
}

.index_master_page{
    .ow_join_button{
        .index_signin_button{
            background-color: #{$primary-color};
            color: #{$text-white};
            padding: 12px;
            border-radius: #{$radius-sm};
            font-size: 24px;
        }
    }
}


/* ---- End of the Header styles ---- */