/* ---- Page Layout, Content styles ---- */

/*Opera Fix*/

body:before {
  content: "";
  height: 100%;
  float: left;
  width: 0;
  margin-top: -32767px;
}

/*End of the Opera Fix*/

body {
  .#{$ow-prefix}page_wrap {
    min-height: 100%;
    overflow: hidden;
    width: 100%;
   
  }
}

.#{$ow-prefix}page_container {
  box-sizing: border-box;
  margin: 0 auto;
  min-height: 100vh;
  padding-top: calc(var(--c-gc-header-height) + 40px);
  background-color: #{$site-bg-color};
  
}

.#{$ow-prefix}canvas {
  margin: 0 auto;
  word-wrap: break-word;
  box-sizing: border-box;
  width: 100%;
  max-width: 1100px;
  padding: 0 20px;
  box-sizing: border-box;

  .ow_superwide{
    width: 100%;
  }
}

//styling and rearranging checkbox forgotpassword and signin button on a page using css
.index_master_page{
  .ow_page_container{
    padding-top: var(--c-gc-header-height) !important;
    .sign-in{
      .ow_sign_in_wrap{
        .ow_sign_in{
          .ow_box{
            .ow_password{

            }
            .ow_form_options{
              display: block;
              flex-direction: column-reverse;
              margin-bottom: 40px;
              p.ow_forgot_pass{
                a{
                  margin-top: 100px;
                  display: block;
                 
                }
                
              }
              p.ow_remember_me{
                margin-top:5px;
                margin-bottom: 40px;
                text-align: left;
                display: block;
              }
              
              .ow_right{
                span.ow_button{
                  
                }
              }
              
            }
          }
        }
      }
    }
  }
  .ow_footer{
    background-color: #{$bg-black};
    padding: 40px 0;
    line-height: normal;
    font-weight: 400px;
    color: #fff;

    .footer_content{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      margin-bottom: 30px;

      .footer_about{
        width: 25%;
        font-size: 14px;

        .ow_logo{
          background-repeat: no-repeat;
          background-image: var(--logo);
          background-size: 100% auto;
          background-position: center;
          display: block;
          width: 80%;
          height: 70px;
        }
        .social_icons{
          display: flex;
          gap: 50px;
          margin-top: 40px;

          .social{
            width: 24px;
            height: 24px;
            background-position: center center;
            background-size: 100% auto;

          }
          .facebook{
            background-image: url('images/mouse-icons/facebook.svg');
          }
          .x{
            background-image: url('images/mouse-icons/x-icon.svg');
            
          }
          .linkedin{
            background-image: url('images/mouse-icons/linkedin.svg');

          }
          .instagram{
            background-image: url('images/mouse-icons/instagram.svg');

          }
        }
      }

      .ow_footer_menu{
        display: flex;
        // gap: 24px;
        flex-wrap: wrap;
        a{
          font-size: 24px;
          line-height: normal;
          font-weight: 400;
          color: #fff;
          width: 50%;
          margin-bottom: 30px;
        }
      }
    }

    .footer_copyright{
      text-align: center;
      font-size: 20px;
    }
  }


}
.ow_signin_label.landing_sign_in{
  background-color: #fff !important;
  color: #{$primary-color} !important;
  border: 1px solid #{$primary-color} !important;
  border-radius: 5px;
  padding: 6px 12px;
}
.landing-page{
  font-size: 20px;
  background-color: #fff;
  font-weight: 400;
  line-height: normal;


  .intro-section{
    padding-left: 100px;
    background-image: url('images/disney-couple.png');
    background-position: right;
    background-repeat: no-repeat;
    background-size: 50% 100%;
    min-height: 600px;

    .intro-reg-form{
      padding-top: 100px;
      padding-bottom: 100px;
      width: 35%;
      
      h2{
        margin-bottom: 5px;
        font-size: 55px;
        font-weight: 700;
      }
      p{
        font-size: 24px;
      }
      .reg-form{
        margin-top: 50px;

        .input-wrap{
          margin-bottom: 20px;

          input[type="text"],
          input[type="password"],
          select{
            width: 100%;
            padding: 14px 15px;
            line-height: unset;
            border: 1px solid #777;
            border-radius: #{$radius-md};
            box-sizing: border-box;
            color: #777;
            padding-left: 50px;
            background-position: 15px center;
            background-repeat: no-repeat;
            object-fit: cover;
            background-size: 24px;
          }

          .looking_for{
            color: #777;
            padding-left: 40px;
            background-position: 0 center;
            background-repeat: no-repeat;
            object-fit: cover;
            background-size: 24px;
            background-image: url('images/mouse-icons/user-love-m.svg');

          }
          
          &.input-field-email{
            input{
              background-image: url('images/mouse-icons/Envelope-m.svg');

            }
          }

          &.input-field-username{
            input{
              background-image: url('images/mouse-icons/User-m.svg');

            }
          }

          &.input-field-password{
            input{
              background-image: url('images/mouse-icons/Lock-m.svg');

            }
          }

          &.input-field-sex{
            select{
              background-image: url('images/mouse-icons/User-m.svg');

            }
          }

          &.input-field-looking-for{
            label{
              color: #777;
            }
          }

 

          .ow_button input{
            width: 100%;
            padding: 14px 0;
            text-align: center;
            background-color: #{$primary-color};
            border-radius: #{$radius-md};
          }
          span.ow_button{
            padding: 0;
          }
        }

        .text-policy{
          font-size: 14px;
        }
      }
    }
  }

  .title{
    font-size: 48px;
    font-weight: 700;
    line-height: 130%;
    position: relative;
    padding-left: 100px;

    &::before{
      content: "";
      width: 60px;
      height: 6px;
      background-color: #000;
      position: absolute;
      left: 0;
      top: 15px;
    }
  }

  .feature-section{
    padding: 100px;
    background-color: #D61A29;

    .feature-title{
      margin-bottom: 80px;
      text-align: center;
      font-size: 48px;
      font-weight: 700;
      line-height: 130%;
      color: #fff;
    }

    .features{
      display: flex;
      justify-content: space-between;

      .feature{
        width: 28%;
        font-size: 24px;
        padding: 50px 50px 101px 50px;
        background-color: #fff;
        border-radius: 10px;
        box-sizing: border-box;
        border-top: 5px solid #ECF960;


        h3{
          font-size: 32px;
          font-weight: 700;
        }
      }
    }

  }

  .testimony-section{
    padding: 100px;
    min-height: 600px;
    background-color: #ECEFF1;
    background-image: url('images/rose-flower.png');
    background-repeat: no-repeat;
    background-position: 70px bottom;

    .testimony-wrap{
      display: flex;

      .testimony-left{
        width: 50%;
        padding-right: 200px;
        padding-top: 100px;

        .mouse-about{
          font-size: 40px;
          font-weight: 700;
          color: #{$primary-color};
        }

        p{
          font-size: 20px;
          text-align: justify;
          color: #232B2D;
        }

      }
      .testimony-right{
        width: 50%;
        position: relative;

        &::before{
          content: '';
          display: inline-block;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          background-color: #D61A29;
          position: absolute;
          left: 0;
          top: 50px;

          background-image: url('images/mouse-icons/Heart-ashe.svg');
          background-repeat: no-repeat;
          background-size: 50px 50px;
          background-position: center;
        }

        .pic-container{
          width: 505px;
          height: 505px;
          margin-left: 70px;
          border-radius: 50%;
          position: relative;
          background-image: url('images/love-couple.png');
          background-size: 100% auto;
          background-repeat: no-repeat;

          
  
        }

        .testimony{
          width: 400px;
          height: 99px;
          background-color: #fff;
          border-radius: 10px;
          box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
          position: absolute;
          display: flex;
          gap: 20px;
          padding: 10px 20px;
          align-items: center;

          &.first{
            bottom: 40px;
            left: -100px;
          }
          &.second{
            bottom: -88px;
            left: 56px;
            transform: rotate(5.272deg);

            &::after{
              content: '';
              width: 20px;
              height: 20px;
              background-color: #D61A29;
              border-radius: 50%;
              display: inline-block;
              position: absolute;
              right: -20px;
              top: -20px;
            }
          }

          .testi-pic{
            width: 70px;
            height: 70px;
            border-radius: 50%;
            background-repeat: no-repeat;
            background-size: 100% auto;
            object-fit: cover;
            
            &.one{
              
              background-image: url('images/testify-1.png');
            }
            &.two{
              background-image: url('images/testify-2.png');

            }
          }
          .testimony-text{
            flex: 1;
            h3{
              font-weight: 700;
              font-size: 14px;
            }
            p{
              font-size: 12px;
            }
          }
        }

      }

     
    }
  }

  .how-section{
    background-color: #ECEFF1;
    display: flex;
    padding: 100px;

    .how-left{
      width: 50%;
      height: 512px;
      background-image: url('images/iphone-mousemingle.png');
      background-repeat:  no-repeat;
      object-fit: cover;
      background-size: 100%;
      background-position: center center;
    }
    .how-right{
      h2{
        color: #D61A29;
        font-weight: 700;
        margin-bottom: 30px;
        font-size: 40px;
      }

      .how-content-wrap{
        position: relative;
        border-left: 1px solid #ccc;
        display: flex;
        flex-direction: column;
        gap: 50px;
        margin-left: 25px;
        margin-bottom: 50px;
        
        .how{
          display: flex;
          align-items: center;
          gap: 50px;
          margin-left: -25px;

          .how-count{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            display: flex;
            flex-shrink: 0;
            justify-content: center;
            align-items: center;
            background-color: #777;
            color: #fff;

            &.one{
              background-color: #D61A29;
            }
          }
        }
      }

      .reg-button{
        background-color: #D61A29;
        color: #fff;
        border-radius: 10px;
        padding: 20px 30px;
        font-weight: 700;
        display: inline-block;
      }
    }
  }
}

.index_master_page{
  .ow_page_container{
    background-color: #ECEFF1;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;

    
    

    .guest-content{
      width: 30%;
      margin-top: 100px;
      padding: 50px 100px;
      border-radius: 20px;
      background: linear-gradient(123deg, #D9D9D9 -2.37%, rgba(255, 255, 255, 0.65) 93.32%);
      backdrop-filter: blur(5px);

      .header{
        text-align: center;
        margin-bottom: 50px;

        h3{
          font-size: 30px;
          font-weight: bold;
        }
      }

      .form-wrap{
        .hide-step{
          display: none;
        }       
        .input-wrap{
          margin-bottom: 30px;

          &.input-field-location{
            select{
              width: 100%;
            }
          }

          .ow_button{
            padding: unset;
          }
        }
        input[type="text"],
        input[type="password"],
        .ow_radio_group label{
          background: transparent;
          border: 1px solid #666;
          border-radius: #{$radius-md};
        }
        .ow_radio_group{
          label{
            display: block;
            width: 100%;
            line-height: 50px;
            padding: 0 10px;
            box-sizing: border-box;
            margin-bottom: 20px;
          }
          input[type="radio"]{
            opacity: 0;
          }
          input[type="radio"]:checked + label{
            color: #{$primary-color};
          }
        }
        input[type="submit"],
        .step-btn{
          display: block;
          width: 100%;
          line-height: 50px;
          background-color: #{$primary-color};
          color: #{$text-white};
          text-align: center;
          border-radius: #{$radius-md};
          cursor: pointer;
        }
        
        a.btn-nuesignup-login{
          display: block;
          width: 100%;
          line-height: 40px;
          border: 1px solid #{$primary-color};
          text-align: center;
          color: #{$primary-color};
          margin-top: 30px;
          border-radius: #{$radius-md};
          background-color: unset;
        }
      }
      
      .sign-in{
        
        .ow_sign_in_wrap{
          h2,
          
          .ow_sign_up{
            display:none;
          }
          .ow_forgot_pass
          {
            display:none;
          }
          
          h3{
            font-size: 30px;
            font-weight: bold;
            margin-bottom: 30px;
            text-align: center;
          }
          .ow_box{
            padding: unset;
            background-color: unset;
            border-radius: unset;
            display: flex;
            flex-direction: column;
      
            input{
              margin-bottom: 20px;
            }
            .ow_form_options{
              display: flex;
              flex-direction: column-reverse;

              .ow_right{
                  float: left;
                .ow_button{
                  
                  padding: unset;
                  
                }
              }
              
            }
          }
        }

        .signup-link{
          display: block;
          line-height: 40px;
          border: 1px solid #{$primary-color};
          text-align: center;
          margin-bottom: 70px;
          border-radius: #{$radius-md};
        }
        .forgot-password-link{
          display: block;
          text-align: center;
        }
        
      }
      
     

      .form-wrap a:hover{
        color: #666;
      }

      .reset-password-code-expired a{
        color: #{$primary-color};
        font-weight: bold;
      }
      .signin-link{
        background-color: #{$primary-color};
        color: #{$text-white};
        line-height: 40px;
        text-align: center;
        border-radius: #{$radius-md};
        display: block;
        
      }

      .ow_forgot_password{
        margin: unset;
        padding: unset; 
        width: unset;

        .ow_ic_file{
          font-size: 30px;
          font-weight: bold;
          text-align: center;
          // margin-bottom: 10px;
        }
        .ow_box{
          padding: unset;
          background-color: unset;
          border-radius: unset;

          input{
            margin-top: 20px;
          }
          .ow_right{
            float: unset;

            .ow_button{
              padding: 0;
              span{
                input[type='submit']{
                  display: block;
                  width: 100%;
                  line-height: 50px;
                  background-color: #{$primary-color};
                  color: #{$text-white};
                  text-align: center;
                  border-radius: #{$radius-md};
                  font-size: 24px;
                }
              }
            }
          }
        }
      }

      .birthdate{
        display: flex;
        gap: 10px;

        .ow_inline{
          width: 100%;
          select{
            width: 100%;
          }
        }
      }
    }
  }
}

.signup-form{
  .input-field-sex{
    input[type='radio']{
    width: 0;
  }
}
} 

.general_master_page{
  .ow_page_container{
    margin-bottom: 150px;
  }
}

.ow_user_list{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 20px;
  
}

// Hotlist
.ow_page_hotlist{
  
  .ow_hotlist_wrap{
    display: flex;
    gap: 20px;
    .ow_hotlist_member{
      width: 90px;
      height: 90px;
      border-radius: 5px;
      
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;

      .ow_avatar{
        width: 90px;
        height: 90px;
        position: relative;

        
        img{
          border-radius: 5px;
        }

        a{
          color: #fff;
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background-color: rgba(255,0,0, 0.6);
          border-radius: 5px;
          font-size: 12px;
          display: flex;
          align-items: center;
          text-align: center;
          font-weight: 600;
        }
      }
    }

    .ow_hotlist_carousel{
      display: flex;
      // flex-wrap: wrap;
      height: 90px;
      width: 100%;
      max-width: 950px;
      gap: 20px;
      position: relative;
      overflow-x: hidden;

      .owl-nav{
        position: absolute;
        right: 0;
        top: 0;
        width: 100px;
        height: 90px;
        background-color: rgba(255,0,0, 0.6);
        color: #fff;
        border-radius: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;

        button{
          font-size: 36px;
          font-weight: 600;
        }
      }

      .ow_avatar{
        width: 90px;
        height: 90px;
        position: relative;

        .hotlist_bottom_right{
          position: absolute;
          right: 10px;
          bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: #fff;
          width: 15px;
          height: 15px;
          border-radius: 50%;
            .ow_ic_hot{
                background-image: url('images/mouse-icons/Fire.svg');
                width: 8px;
                height: 8px;
                background-size: 100%;
                background-repeat: no-repeat;
                object-fit: cover;
            }
          }
        img{
          border-radius: 5px;
        }
      }
    }
    .hotlist_arrow{
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: red; //#FCE9E5;
      // opacity: 0.2;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center;
  
      .arrow_body{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #fff;
        cursor: pointer;
        .arrow_icon{
          width: 35px;
          height: 35px;
          background-image: url('images/mouse-icons/Caret-right.svg');
          background-repeat: no-repeat;
          background-position: center;
          object-fit: cover;
        }
      }
    }

    

  }

}

// Search filter
.filter-form-wrap{
  display: none;
  margin-top: 20px;
  .filter-form{
    display: flex;
    justify-content: space-between;
    .input-wrap{
      border: 1px solid #EAEAEA;
      border-radius: 10px;
      padding: 5px 20px 5px 40px;

      background-size: 20px 20px;
      background-position: 10px center;
      background-repeat: no-repeat;

      &.location{
        width: 30%;
        padding-left: 20px;
        

        .location_wrapper{
          display: flex;
          justify-content: space-between;

          input[type='text']{
            width: 100%;
            margin-top: 5px;
            border: 1px solid #EAEAEA;
          }

          .ow_googlelocation_search_miles_from,
          .location_label{
            margin-bottom: 5px;
          }

          .distance_wrap{
            width: 25%;
            padding-left: 30px;
            background-image: url('images/mouse-icons/social-distance.svg');
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 0 center;
            .ow_googlelocation_search_miles_from{
              white-space: nowrap;
            }
          }

          .googlelocation_address_div{
            width: 45%;
            padding-left: 30px;
            background-image: url('images/mouse-icons/Location.svg');
            background-repeat: no-repeat;
            background-size: 20px 20px;
            background-position: 0 center;

            input[type='text']{
              width: 98%;
            }

          }
          
        }
        
        select{
          width: 100%;
          line-height: 20px;
          border: none;
          padding: unset;
          margin-bottom: 0;
        }

        span.googlelocation_address_icon{
          display: none !important;
        }
      }
      &.match_sex{
        width: 15%;
        background-image: url('images/mouse-icons/Intersex.svg');

        select{
          width: 100%;
          line-height: 20px;
          border: none;
          padding: unset;
          margin-bottom: 0;
        }
      }
      &.birthdate{
        background-image: url('images/mouse-icons/User-dark.svg');

        input{
          text-align: center;
        }
      }
      label{
        display: block;
        margin-bottom: 5px;
      }
      input{
        line-height: 20px;
        border: none;
        padding: unset;
        margin-bottom: 0;
      }
      .ow_googlelocation_location_search_input{
        width: 98%;
      }
      input:focus{
        outline: transparent;
      }
    }

    .filter-form-cta{
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 25%;

      button,
      span.ow_button {
        width: 47%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
        cursor: pointer;
        box-sizing: border-box;
        overflow: hidden;

        input{
          padding: 0 10px;
          box-sizing: border-box;
        }
      }
      button{
        background-color: #EAEAEA;
        color: #000;
      }
      span.ow_button{
        background-color: #{$primary-color};
        padding: unset;
        
        span{
          input[type="submit"]{
            width: 100%;
            height: 100%;
          }
        };
      }
    }
  }
}

.filter-button-wrap{
  margin-top: 20px;
  display: flex;
  justify-content: end;
  align-items: center;

  .show-filter{
    cursor: pointer;
    background-color: #{$primary-color};
    color: #fff;
    border-radius: 10px;
    text-align: center;
    min-width: 100px;
    height: 50px;
    font-size: 20px;
    padding: 10px 20px;
  }
}

.owl-next.disabled, 
.owl-prev.disabled {
  display:none;
} 

// Profile
.profile_wrap{
  .profile_section{
    display: flex;
    gap: 58px;

    position: relative;

    .segment{
      margin-bottom: 60px;
    }

    .title{
      font-size: 26px;
      font-weight: 600;
      margin-bottom: 20px;
      text-transform: capitalize;
    }

    .left{
      
      &.avatar{
        width: 350px;
        max-height: 350px;
        overflow: hidden;
        border-radius: 10px;
        flex-shrink: 0;

        img{
          width: 100%;
          height: auto;
          border-radius: 10px;
          object-fit: cover;
        }

        .ow_profile_carousel{
          position: relative;
          max-height: inherit;
          width: 100%;

          img{
            width: 100%;
            height: auto;
            border-radius: 10px;
            object-fit: cover;
          }

          .owl-nav:not(.disabled){
            
            button{
              position: absolute;
              top: 48%;

              &.owl-prev{
                left: 10px;
              }

              &.owl-next{
                right: 10px;
              }

              span{
                background-color: rgba(0,0,0,0.2);
                color: #fff;
                border-radius: 5px;
                font-size: 36px;
                padding: 5px 10px;
                font-weight: 600;
                cursor: pointer;
                box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
              };
            }

          }
        }
      }

    }
    .right{
      flex: 1;
      .cta{
        .ow_profile_action_toolbar{
          li:nth-of-type(1),
          li:nth-of-type(2)
          {
            a{
              background-color: #{$primary-color};
              color: #fff !important;
              border-color: #{$primary-color};
            }
          }          
        }
      }

    }

    &.profile_top_section{
      margin-bottom: 80px;
      .back_to_home{
        position: absolute;
        right: 0;
        top: 0;
        color: #fff;
        font-weight: 600;
        padding:20px;
        border-radius: 10px;
        background: #B3B3B3;
      }

      .mobile_back_home{
        display: none;
      }
    }

  }

  .ow_profile_bottom{

    .ow_profile_album_wrap{
      position: absolute;
      left: 0;
      top: 400px;
    }
  }

  .user_photo_album{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    width: 350px;

    .photo{
      width: 48%;
      border-radius: 10px;
      overflow: hidden;

      img{
        width: 100%;
        height: auto;
        object-fit: cover;
      }
    }
  }
}


// album photos
.ow_album_carousel{
  position: relative;
  max-height: inherit;
  width: 100%;

  img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
  }

  .ow_album_photo{
    max-height: 680px;
    overflow-y: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
  }

  .owl-nav:not(.disabled){
    
    button{
      position: absolute;
      top: 48%;

      &.owl-prev{
        left: 10px;
      }

      &.owl-next{
        right: 10px;
      }

      span{
        background-color: rgba(0,0,0,0.2);
        color: #fff;
        border-radius: 5px;
        font-size: 36px;
        padding: 5px 10px;
        font-weight: 600;
        cursor: pointer;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
      };
    }

  }
}

.ow_album_cta{
  display: flex;
  justify-content: space-between;

  a{
    border-radius: 8px;
    width: 48%;
    text-align: center;
    padding: 15px 0;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;


    &.ow_ic_like{
      background-color: #EAEAEA;
      &:hover,
      &:visited{
        color: #000;
      }

      &::before{
        content: '';
        display: inline-block;
        background-image: url('images/mouse-icons/Heart.svg');
        width: 24px;
        height: 24px;
        margin-right: 10px;
        background-repeat: no-repeat;
        background-size: 100% auto;



      }

      &.active{
        color: #{$primary-color};
        
        &::before{
          background-image: url('images/mouse-icons/Heart-filled.svg');
        }
      }
    }

    &.ow_ic_chat{
      background-color: #{$primary-color};
      color: #fff;

      &::before{
        content: '';
        background-image: url('images/mouse-icons/Chat-light.svg');
        width: 20px;
        height: 20px;
        margin-right: 10px;
        background-repeat: no-repeat;
      }
    }
  }
}

//my profile
.my_profile_wrap{
  .profile_section{
    display: flex;
    gap: 58px;


    .left{
      width: 350px;

      .avatar{
        max-height: 350px;
        overflow: hidden;
        border-radius: 10px;
        img{
          width: 100%;
          height: auto;
          object-fit: cover;
        }
      }

      p{
        text-align: center;
        font-size: 24px;
        margin-top: 20px;
      }

    }
    .right{
      flex: 1;

      .link{
        display: flex;
        align-items: center;
        gap: 40px;
        height: 130px;
        background-color: #EAEAEA;
        color: #000;
        border-radius: 10px;
        margin-bottom: 20px;
        padding-left: 50px;
        font-size: 24px;
        box-sizing: border-box;

        .link_icon{
          width: 70px;
          height: 70px;
          border-radius: 10px;
          background-color: #FCE9E5;
          color: #000;
          background-size: 50% auto;
          background-repeat: no-repeat;
          object-fit: cover;
          background-position: center;

          &.coin{
            background-image: url('images/mouse-icons/Coins-01.svg');
          }
          &.edit{
            background-image: url('images/mouse-icons/Edit.svg');
          }
          &.logout{
            background-image: url('images/mouse-icons/Logout.svg');
          }
          &.settings{
            background-image: url('images/mouse-icons/Settings.svg');


          }
        }

      }

      .upgrade{
        background-color: #FCE9E5;
        border-radius: 10px;
        padding: 40px 0;
        text-align: center;

        h3{
          font-size: 32px;
          font-weight: 600;

        }
        p{

          font-size: 24px;
          font-weight: 400;
          margin-bottom: 20px;
        }

        .cost{
          font-style: italic;
        }

        a{
          width: 50%;
          display: inline-block;
          text-align: center;
          background-color: #{$primary-color};
          color: #fff;
          border-radius: 10PX;
          padding: 20px;
          box-sizing: border-box;
          font-size: 20px;
        }
      }
    }

  }
}

.mouse_mailbox_wrapper{
  .ow_page_hotlist{
    display: none;
  }
}

.ow_mailbox_mobile{
  display: none;
}



// Profile settings
.profile_settings_wrap{ 

  .settings_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    h3{
      font-size: 24px;
      font-weight: unset;
      font-weight: 600px !important;
    }
   
  }
  .links{
    .link{
      display: flex;
      gap: 40px;
      padding: 15px 30px;
      border-radius: 10px;
      background-color: #EAEAEA;
      align-items: center;
      margin-bottom: 20px;
      overflow: hidden;

      .title{
        font-weight: 600;
        font-size: 16px;
      }

      .icon{
        width: 50px;
        height: 50px;
        border-radius: 10px;
        background-color: #FCE9E5;
        background-size: 50% auto;
        background-repeat: no-repeat;
        background-position: center;

        &.account{
          background-image: url('images/mouse-icons/User-color.svg');
        }
        &.match{
          background-image: url('images/mouse-icons/Love-color.svg');
        }
        &.mail{
          background-image: url('images/mouse-icons/Mail-color.svg');
        }
        &.language{
          background-image: url('images/mouse-icons/Language-color.svg');
        }
        &.contact{
          background-image: url('images/mouse-icons/People-color.svg');
        }
        &.logout{
          background-image: url('images/mouse-icons/Logout-color.svg');
        }
      }

      &:hover{
        color: #000;
      }
    }
  }
}

// Match preferences
.matches_wrap{
  .match_header{
    display: flex;
    justify-content: space-between;
    align-items: center;

    h2{
      font-size: 30px;
      font-weight: 600;
    }
  }
}


.preference_section{
  background-color: #EAEAEA;
  border-radius: 10px;
  padding: 20px 30px;
  color: #000;
  margin-bottom: 20px;

  .title{
    font-weight: 600;
  }
}

.back_button{
 
  padding: 10px 20px;
  box-sizing: border-box;
  color: #000;
  background-color: #EAEAEA;
  border-radius: 10px;

  &:hover{
    color: #000;
  }
  &:visited{
    color: #000;
  }

}
.mobile_back_arrow{
  display: none;
}

.desktop_back_btn{
  margin-bottom: 20px;
  text-align: right;

  a{
    padding: 10px 20px;
    box-sizing: border-box;
    color: #000;
    background-color: #EAEAEA;
    border-radius: 10px;
    display: inline-block;

  }
}

// Premium checkboxes
input[type="checkbox"]{
  appearance: none;
  height: 20.31px;
  width: 20.31px;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;
  //How to style a check box that is not  checked with a text on same line
  margin-right: 10px;
  margin-top: -3px;

  &::after{
    content: "";
    position: absolute;
    display: none;
  }
 
  &:checked{
    background-color:#777777;
    border-color: #777777;
    //How to style a check box that is checked with a text on same line
    margin-right: 10px;
    margin-top: -3px;

    &::after{
      left: 6px;
      top: 3px;
      width: 6px;
      height: 12px;
      border: solid white;
      border-width: 0 3px 3px 0;
      transform: rotate(45deg);
      display: block;
      margin-top: -2px;
      margin-left: -2px;
    }
  }
}

// Premium radio button
input[type="radio"]{
  appearance: none;
  height: 20px;
  width: 20px;
  outline: none;
  border-radius: 50%;
  border: 1px solid #ccc;
  background-color: #fff;
  position: relative;



  &:checked{
    background-color: #FCE9E5;
    border-color: #{$primary-color};

  }
}



.my_preference_wrap{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2{
      font-size: 24px;
      font-weight: 600;
    }
  }
}

.matchmaking_unimportant_checkbox,
.ow_radio_group,
.ow_checkbox_group{
  li{
    display: flex !important;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
    flex-shrink: 0;
  }
}

.ow_label{
  margin-right: 10px;
}

.mail_notification_wrap{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .email_item{
    display: flex !important;
    align-items: center;
    gap: 4px;
    margin-bottom: 10px;
  }
}

.ow_section_icon{
  display: flex;
  gap: 10px;
  align-items: center;
}


.profile_language_wrap{
  .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h2{
      font-size: 24px;
      font-weight: 600;
    }
  }
  .ow_radio_group{
    li{
      background-color: #EAEAEA;
      padding: 20px 30px;
      border-radius: 10px;
      margin-bottom: 20px;
      box-sizing: border-box;
    }
  }
}


.questions_wrap{
  display: flex;
  flex-direction: column;
  gap: 30px;
  .question_section{
    background-color: #f7f7f7;
    border-radius: 10px;
    padding: 30px;
    box-sizing: border-box;

    .question_data{
      display: flex;
      flex-wrap: wrap;
      gap: 20px;

      .question_wrap{
        width: 48%; 

        .question{
          font-size: 20px;
          font-weight: 500;
        }
        .answer{
          font-size: 16px;
        }
      }
    }
  }
}

.question_wrap{
  display: flex;
  gap: 20px;

  .ow_user_edit_question_ic{
    padding-top: 5px;
    color: #ccc;

    [class^="ow_ic"]{
      &::before{
        font-size: 30px;
      }
  
    }

    .question_info{
      .answer{
        color: #999;
      }
    }
  }
}

// Profile edit
.profile_edit_wrap{

  .profile_edit_section_wrap{
    display: flex;
    gap: 40px;
  
    .left_pane{
      .user_photo{
        position: relative;

        .edit_profile_default_avatar{
          margin-bottom: 20px;

        }
        .edit_avatar_profile_save_wrap{
          margin: 20px 0;

          button{
            padding: 5px 16px;
            border-radius: 5px;
            border: 1px solid #{$primary-color};
            color: #{$primary-color};
          }
        }

        .ow_ic_edit{
            position: absolute;
            bottom: 10px;
            right: 10px;
            
            &::before{
              position: absolute;
              bottom: 0;
              right: 0;
              display: flex;
              justify-content: center;
              align-items: center;
              width: 30px;
              height: 30px;
              border-radius: 50%;
              background-color: #fff;
              background-position: center;
              background-repeat: no-repeat;
              box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
            }
        }

        .label{
          display: none;
        }
        margin-bottom: 20px;
        .ow_avatar_field_preview{
          width: 350px;
          height: 300px;
          border-radius: 10px;
          overflow: hidden;
        }

      }

      .ow_profile_photos_wrap{
        margin: 20px 0;
        gap: 5px;

        .ow_profile_photos{
          display: grid;
          grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
          gap: 5px;
  
          .user_photo{
            width: 100%;
            height: 55px;
            
            img{
              border-radius: 5px;
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
        }

        .ow_profile_photos_placeholder{
          // width: 45px;
          height: 55px;
        }

        .ow_btn_add_more_photo{
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 100%;
        }
      }
  
      .account_type{
        margin-bottom: 30px;
  
        label{
          font-size: 20px;
          font-weight: 500;
          margin-bottom: 10px;
        }
  
        .input{
          select{
            width: 100%;
          }
        }
      }
    }
  
    .right_pane{
      .profile_edit_section{
        background-color: #F7F7F7;
        padding: 30px;
        border-radius: 10px;
        margin-bottom: 20px;
        box-sizing: border-box;
      
        h2{
          font-size: 28px;
          font-weight: 600;
        }
        .ow_user_edit_questions{
          margin-bottom: 20px;
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          gap: 30px;
         

          .ow_user_edit_question{
            margin-bottom: 20px;
            .ow_user_edit_question_item{
              display: flex;
              justify-content: space-between;
              gap: 20px;
              
              .ow_user_edit_question_ic{
                padding-top: 5px;
                color: #ccc;
                width: 24px;
                height: 24px;

                [class^="ow_ic"]{
                  &::before{
                    font-size: 30px;
                  }

                }
              }
              .ow_user_edit_question_info{
                flex-grow: 1;
                .ow_user_question_name{
                  font-size: 20px;
                  font-weight: 500;
                  color: #000;
                }
                .ow_user_question_value{
                  color: #999;
                }
                
              }

              .ow_user_edit_question_edit{
                
                .edit_user_ic_edit{
                  display: inline-block;
                  width: 30px;
                  height: 30px;
                  background-color: #FCE9E5;
                  border-radius: 5px;
                  background-image: url('images/mouse-icons/Edit.svg');
                  background-size: 24px 24px;
                  background-position: center;
                  background-repeat: no-repeat;
                }
              }
            }
            
          }
          .input_wrap{
      
            .questions{
              font-size: 20px;
              font-weight: 500;
              color: #000;
              .input{
                width: 50%;
                .match_age{
                  display: flex;
                  align-items: center;
              
                  div:nth-of-type(2),
                  div:nth-of-type(4){
                      width: 13%;
                  }
                  div:nth-of-type(2){
                      margin-right: 30px;
                  }
                  div:nth-of-type(5){
                      display: none !important;
                  }
              }
              }
            }
          }
        }
      }
      .profile_edit_cta{
        display: flex;
        gap: 20px;
        .ow_button.unregister_profile_button {
          border: 1px solid #ccc;
        }
      }
    }
  }

  .ow_box_empty{
    .ow_box_cap_empty{
      &.ow_center{
        text-align: left !important;
      }

      .ow_box_cap_right{
        .ow_box_cap_body{
          h3.ow_ic_file{
            font-size: 28px !important;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.ow_user_question_input{
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-height: 150px;
  margin-bottom: 20px;

  .ow_button{
    cursor: pointer;
    &:hover{
      color:#fff;
    }
  }
  .birthdate{
    display: flex;
    justify-content: center;
    gap: 10px;
  }
}


.ow_notifications_list{
  .ow_mouse_notification_list{
    .ow_notification_item{
      .console_list_ipc_item{
        display: flex;
        align-items: center;
        background-color: #EAEAEA;
        margin-bottom: 20px;
        padding: 40px;
        border-radius: 10px;
        gap: 30px;

        .ow_avatar{
          width: 100px;
          height: 100px;
          order: 1;
        }
        .ow_console_invt_cont{
          margin: unset;
          order: 2;

          .ow_console_invt_txt{
            font-size: 24px;
            font-weight: 400;
            line-height: normal;
          }
        }

        .ow_console_invt_img{
          order: 3;
          margin-left: 0;
        }

        &::before,
        &::after
        {
          display: none;
        }
      }

    }
  }

  .pagination_wrap{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
  }
}

// Upgrade
.ow_mouse_upgrade_wrap{
  .ow_mouse_upgrade_header{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    .ow_mouse_upgrade_title{
      font-size: 30px;
      font-weight: 600;
      margin-bottom: 30px;
      color: #000;
    }

    .ow_mouse_upgrade_features_list{
      margin-top: 40px;
      display: flex;
      flex-direction: column;
      gap: 30px;
      text-align: left;
      .ow_mouse_upgrade_feature{
        font-size: 20px;
        font-weight: 600;

        span{
          display: flex;
          gap: 20px;
          align-items: center;

          &::before{
            content: "";
            width: 36px;
            height: 36px;
            background-repeat: no-repeat;
            background-size: 100% auto;
            background-position: center;

            
          }

          &.ow_mouse_upgrade_ic_message{
            &::before{
              background-image: url('images/mouse-icons/Chat.svg');
            }
          }

          &.ow_mouse_upgrade_ic_bookmark{
            &::before{
              background-image: url('images/mouse-icons/Heart.svg');
            }
          }

          &.ow_mouse_upgrade_ic_photo{
            &::before{
              background-image: url('images/mouse-icons/Camera.svg');
            }
          }
        }

      }
    }
  }

  .ow_mouse_upgrade_info{
    margin-top: 30px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
  }

  .ow_mouse_upgrade_pricing_list{
    margin: 60px 0;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;

    .ow_mouse_upgrade_pricing_wrap{

      min-width: 250px;
      max-width: 320px !important;
      flex-grow: 1;

      .ow_mouse_upgrade_pricing{
        min-height: 220px;
        border-radius: 10px;
        padding: 30px;
        background-color: #EAEAEA;
        box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);
        position: relative;
        overflow: hidden;

        &.active{
          background-color: #FCE9E5;
          border: 1px solid #{$primary-color};
        }

        .ow_mouse_upgrade_pricing_title{
          margin-top: 50px;
          font-size: 28px;
          font-weight: 600;
        }

        .ow_mouse_upgrade_pricing_desc{
          .ow_mouse_upgrade_pricing_text{

            label{
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              padding: 130px 0 10px 10px;
              font-size: 16px;
              font-weight: 500;
              box-sizing: border-box;
          
  
              input{
                opacity: 0;
              }
  
            }
          }


          .big-price{
            margin-top: 50px;
            text-decoration: line-through;
            font-size: 15px;
            
          }

          .ow_mouse_upgrade_discount_ribbon{
            position: absolute;
            right: -31px;
            width: 100px;
            background-color: #{$primary-color};
            text-align: center;
            color: #fff;
            font-size: 14px;
            font-weight: 600;
            top: -5px;
            rotate: 45deg;
            padding-top: 20px;
            padding-bottom: 10px;
            box-sizing: border-box;
          }
        }
      }
    }
  }
  
  .ow_mouse_upgrade_credit{
    margin: 30px 0;
  }

  .ow_mouse_upgrade_action{
    .embutton{
      background-color: #{$primary-color};
      color: #fff;
      padding: 25px 20px;
      text-align: center;
      width: 100%;
      border-radius: 10px;
      font-size: 16px;
      font-weight: 600; 
      cursor: pointer;
    }
  }
}

// Stripe form
.stripe_form_wrap{
  .ow_box{
    padding: 0;
  }
  
  .credit-card-info{
    margin-bottom: 30px;
    span{
      font-size: 20px;
      color:#000

    }
  }

  .card_section{
    background-color: #EAEAEA;
    padding: 30px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-sizing: border-box;

    .title{
      font-size: 20px;
      font-weight: 600;
    }
    .input_wrap{
      margin-bottom: 20px;
      font-size: 16px;
      .input{
        margin-top: 10px;

        select,
        input{
          line-height: normal;
          width: 100%;
          padding: 10px;
          border-radius: 10px;
        }
      }
    }
    
  }
  .stripe_cta{
    margin-top: 20px;
  }
}

// Buy credit
.coin_package_wrap{
  .header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    .title{
      font-size: 26px;
      font-weight: 600;
    }
  }

  .sub_header{
    margin-bottom: 50px;
    .sub_title{
      font-size: 16px;
      margin-bottom: 20px;

    }
    .count_count{
      display: flex;
      align-items:  center;
      font-size: 14px;

      .coin_icon{
        width: 24px;
        height: 24px;
        background-image: url('images/mouse-icons/Coins-01.svg');
        background-repeat: no-repeat;
        background-size: 100% auto;
        background-position: center center;
      }

      .count{
        padding: 0 20px;
      }
    }
  }

  .coin_packages{
    .ow_box_cap_body{
      margin-bottom: 20px;
      text-align: center;
      font-size: 24px;
    }
    .ow_box{
      padding: 0;
      

      .ow_radio_group{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        &::before,
        &::after{
          display: none;
        }

        li{
          max-width: 320px;
          background-color: #EAEAEA;
          border-radius: 10px;
          min-height: 200px;
          position: relative;
          flex-grow: 1;

          input{
            opacity: 0;

            &:checked + label{
              border-top: 4px solid #{$primary-color};
            }
          }

          label{
            position: absolute;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            text-align: center;
            padding: 50px 10px;
            border-radius: 10px;

            font-size: 20px;
            b:nth-of-type(odd){
              font-weight: normal;
            }

            b:nth-of-type(even){
              display: block;
              margin-top: 20px;
            }
          }
        }
      }

      .ow_billing_gateways{
        margin: 30px;
      }

      .gateway{
        margin-top: 30px;
      }
      .submit{
        margin-top: 30px;
      }
    }
  }
}

// Gift floatbox
.ow_gift_templates{
  .ow_gift_wrapper{
    padding: 5px;
    border-radius: 5px;

    .ow_gift-holder{
      border-radius: 5px;
    }

    &.ow_alt1{
      background-color: #EAEAEA;
    }

    &.ow_alt2{
      background-color: #{$primary-color};
    }
  }
}

#virtualgifts_send_gift_cmp{
  .ow_table_3{
    .ow_tr_last{
      display: none;
    }
  }
}

// Contact 
.contact_wrapper{
  .contact_form_inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    .input_wrap{
      label{
        font-size: 16px;
  
      }
      .input{
        margin-top: 10px;
        select{
          width: 100%;
          line-height: normal;
        }
        input{
          line-height: normal;
          padding: 0;
        }

        select,
        input{
          padding: 10px 20px;
        }
      }
    }

  }
}

.ow_nocontent{
  margin-top: 20px;
}

.ow_profile_action_toolbar{
  .mobile_send_message{
    display: none;
  }

}

.mobile_chatnow{
  display: none !important;
}
