.#{$ow-prefix}table {
    &_1,
    &_2 {
        tr {
            td {
                padding: 0;
            }
        }
    }
}

.ow_forum {
    * {
        box-sizing: border-box;
    }
    width: 100%;
    overflow: hidden;
    th,
    td,
    .ow_name,
    .ow_topics,
    .ow_replies,
    .ow_author {
        width: auto !important;
        padding: 8px 0px;
    }
}